*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  padding: 1em;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #b9b9b9;
  background-color: #e3e3e3;
}

h4 {
  color: #3321d3;
}

input,
input[type="radio"] + label,
input[type="checkbox"] + label:before,
select option,
select {
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

input:focus {
  outline: 0;
  border-color:  #3321d3;
}

input:focus + .input-icon i {
  color:  #3321d3;
}

input:focus + .input-icon:after {
  border-right-color:  #3321d3;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label,
select {
  display: inline-block;
  width: 50%;
  text-align: center;
  float: left;
  border-radius: 0;
}

input[type="radio"] + label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

input[type="radio"] + label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

input[type="radio"] + label i {
  padding-right: 0.4em;
}

input[type="radio"]:checked + label,
input:checked + label:before,
select:focus,
select:active {
  background-color: #3321d3;
  color: #fff;
  border-color:  #3321d3;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding-left: 1.6em;
}

input[type="checkbox"] + label:before {
  position: absolute;
  top: 0.2em;
  left: 0;
  display: block;
  width: 1em;
  height: 1em;
  padding: 0;
  content: "";
}
input[type="checkbox"] + label:after {
  position: absolute;
  top: 0.45em;
  left: 0.2em;
  font-size: 0.8em;
  color: #fff;
  opacity: 0;
  font-family: FontAwesome;
  content: "\f00c";
}
input:checked + label:after {
  opacity: 1;
}
select {
  height: 3.4em;
  line-height: 2;
}
select:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
select:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
select:focus,
select:active {
  outline: 0;
}
select option {
  background-color: #3c21d3;
  color: #fff;
}



.input-group {
  margin-bottom: 1em;
  zoom: 1;
}
.input-group1 {
    margin-bottom: 1em;
    zoom: 1;
    width: 30%;
  }
  .input-group2 {
    margin-bottom: 1em;
    zoom: 1;
    width: 30%;
    padding-left: 10px;
  }
  .input-group3 {
    margin-bottom: 1em;
    zoom: 1;
    width: 30%;
  }
  .input-group4 {
    margin-bottom: 1em;
    zoom: 1;
    width: 70%;
    padding-left: 0px;
  }
  .Marital {
    margin-bottom: 1em;
    zoom: 1;
    width: 75%;
  }
  .Marital1 {
    margin-bottom: 1em;
    zoom: 1;
    width: 70%;
    padding-left: 0px;
    padding-right: 10px;
  }
  .Marital2 {
    margin-bottom: 1em;
    zoom: 1;
    width: 70%;
    padding-right: 5px;
    margin-right: 10px;
  }
  .Ultra1 {
    zoom: 1;
    width: 60%;
    float: left;
    padding-right: auto;
  }
  /*.Ultra2 {
    zoom: 1;
    width: 60%;
    padding-left: auto;
  }*/


.input-group:before,
.input-group:after {
  content: "";
  display: table;
}
.input-group:after {
  clear: both;
}
.input-group-icon {
  position: relative;
}
.input-group-icon input {
  padding-left: 4.4em;
}
.input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
}
.input-group-icon .input-icon:after {
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 3.4em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.input-group-icon .input-icon i {
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.container {
  max-width: 50em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: #fff;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}
.row {
  zoom: 1;
  padding-top: 50px;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.col-half {
  padding-right: 10px;
  float: left;
  width: 50%;
}

.col-half1 {
    padding-left: 10px;
    float: right;
    width: 50%;
  }
  .col-half1a {
    padding-left: 0px;
    float: left;
    width: 50%;
  }
  .col-half1b {
    padding-left: 0px;
    float: left;
    width: 25%;
  }
  .col-half2 {
    padding-left: 10px;
    float: left;
    width: 25%;
  }
  .col-half2a {
    padding-left: 10px;
    float: left;
    width: 20%;
  }
  .col-half3 {
    padding-left: 10px;
    float: left;
    width: 25%;
  }
  .col-half3a {
    padding-left: 10px;
    float: left;
    width: 50%;
  }
  .col-half3b {
    padding-left: 0px;
    float: left;
    width: 100%;
  }
  .col-half3c {
    padding-left: 10px;
    padding-right: 0px;
    float: left;
    width: 30%;
  }
  .col-half3d {
    padding-left: 0px;
    padding-right: 0px;
    float: left;
    width: 25%;
  }

  .col-half4 {
    padding-left: 0px;
    float: left;
    width: 30%;
  }
  .col-half4a {
    padding-right: 0px;
    float: right;
    width: 30%;
  }
  .col-half5 {
    padding-left: 10px;
    float: left;
    width: 35%;
  }
  .col-half5a {
    padding-right: 10px;
    float: right;
    width: 30%;
  }
  .col-half5b {
    width: 100%;
  }
  .col-half6 {
    padding-left: 10px;
    float: right;
    width: 35%;
  }

  .col-half7 {
    align-content: center;
    padding-left: 35px;
    padding-right: 35px;
    height: 20px;
    font-size: 5px;
    border-radius: 50px;
  }

.col-half:last-of-type {
  padding-right: 0;
}
.col-third {
  padding-right: 10px;
  float: left;
  width: 33.33333333%;
}
.col-third:last-of-type {
  padding-right: 0;
}
@media only screen and (max-width: 540px) {
  .col-half {
    width: 100%;
    padding-right: 0;
  }
}
