
nav{
   background-color: blue;
   overflow: hidden;
   text-align: right;
   position: fixed;
   width: 100%;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 90px; 
}

nav a{
    text-decoration: none;
    text-align: center;
    padding: 20px;
    color: white;
    font-family: 'Segoe UI';
    position: relative;
    top: 35px;
    left: -30px;
    right: 0px;
    bottom: 35px;
    border-radius: 50px;
}

nav a.active {
    background-color:white;
    color:blue;
}

.main {
    padding: 16px;
    margin-top: 80px;
    width: 100%;
    height: auto;
}


/* slideshow */

#slider{
    overflow: hidden;
    clear: both;
}
#slider figure{
    position: relative;
    width: 100%;
    margin: 0px;
    left: 0px;
    animation: 15s raph infinite;
}
#slider figure img{
    float: left;
    width: 20%;
}
@keyframes raph{
    0%{
        left: 0%;
    }
    20%{
        left: 0%;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
    
}



nav img{
    float: left;
    width: 135px;
    height: 50px;
    position: relative;
    top: 0%;
    left: 50px;
    right: 70px;
    bottom: 5px;
}

#Center{
   left: 65%;
   top: 25%;
   margin-left: -25%;
   position: absolute;
   margin-top: -1;
}

#frm{
    padding-top: 50px;
  position: center;
  background-color: blue;
  border-radius: 50px;
  width: 300px;
  height: 420px;
  margin: 20px;
  text-align: center;
}

#frm1{
  padding-top: 50px;
  position: center;
  background-color: blue;
  border-radius: 50px;
  width: 300px;
  height: 400px;
  margin: 20px;
  text-align: center;
}

#frm p{
  color: white;
  font-family: 'segoe UI';
}
#frm1 p{
    color: white;
    font-family: 'segoe UI';
  }

#frm a{
    text-decoration: none;
    color: white;
    font-family: segoe UI;
    font-size: 9px;
}

#frm1 a{
    text-decoration: none;
    color: blue;
    font-family: segoe UI;
    font-size: 9px;
}

#frm button{
    color: blue;
    border-radius: 7px;
    margin-top: 10px;
}
#frm1 button{
    color: blue;
    border-radius: 7px;
    margin-top: 10px;
}

.footer{
    background-color: blue;
    text-align: left;
    font-family: 'Segoe UI';
    font-size: 15px;
    width: 100%;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40px;
}

.footer a{
    padding: 5px;
    margin-top: -10px;
}